<div class="section">
    <div class="container-fluid">
      <div class="row pt-4">
        <div class="col-*-12 text-center">
          <img src="../assets/img/logoArte.png" class="img-fluid imgLogo">
        </div>
      </div>
      <div class="row text-center">
        <div class="col-*-7 pt-4 divh3">
          <h3 class="h3intro">Questo sito è stato creato per offrirvi un'esperienza virtuale delle nostre mostre, che ospitano una vasta collezione di opere.</h3>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-11" style="margin: 0 auto;">
            <mat-divider></mat-divider>
        </div>
      </div>
    <div class="pt-4">   
        <h1 class="head1 text-center">COSA TROVERETE NELLE NOSTRE MOSTRE:</h1>
    </div>

    <div class="row pt-5 pb-5" style="gap: 15px; display: flex; justify-content: center;">
        <div class="col-md-10 col1">
            <h2>RINASCIMENTO</h2>
        </div>
        <div class="col-md-10 col2">
            <h2>BAROCCO</h2>
        </div>
        <div class="col-md-10 col3">
            <h2>SIMBOLISMO</h2>
        </div>
        <div class="col-md-10 col4">
            <h2>ROMANTICISMO</h2>
        </div>
        <div class="col-md-10 col5">
            <h2>FUTURISMO</h2>
        </div>
        <div class="col-md-10 col6">
            <h2>IMPRESSIONISMO</h2>
        </div>
        <div class="col-md-10 col7">
            <h2>ESPRESSIONISMO</h2>
        </div>
    </div>
  </div>
</div>