<div class="section">
    <img src="../../assets/images/wallpaperSpirou.jpg" class="img-fluid" alt="Responsive image" width="100%">
    <div class="container pt-3">
        <div class="row">
            <div class="colLogo col-*-9">
                <img src="../../assets/images/spirouLogo.png" class="img-fluid logo" alt="Responsive image" width="55%">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <p>Spirou è una rivista settimanale di fumetti franco-belga pubblicata da <span class="sp1">Dupuis</span> dal 21 aprile 1938. È una rivista antologica contenente un mix di brevi strisce umoristiche.</p>
        </div>
        <br>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <br>
        <app-element-spirou1></app-element-spirou1> <!-- RIGA 1 -->
        <br>
        <br>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <br>
        <app-element-spirou2></app-element-spirou2>
        <br>
    </div>
</div>
