<div class="teble-responsive">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Meme Number:</th>
                <th>Meme Name:</th>
                <th>Meme Image:</th>
                <th>Meme Description:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>{{nome}}</td>
                <td><app-esercizio2-component2></app-esercizio2-component2></td>
                <td>{{descrizione}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{nome2}}</td>
                <td><app-esercizio2-component3></app-esercizio2-component3></td>
                <td>{{descrizione2}}</td>
            </tr>
        </tbody>
    </table>
</div>



