<div class="row">
    <h1 class="text-center">PRIMA PUBBLICAZIONE</h1>
    <div class="container-fluid pt-3">
        <div class="row riga1">
            <div class="col-lg-4 col-*-12">
                <p>
                    Con il crescente successo della rivista settimanale "Le Journal de Mickey" in Francia, e la popolarità delle riviste di Tintin, molte nuove riviste di fumetti o riviste giovanili con fumetti apparvero in Francia e Belgio nella seconda metà degli anni '30.
                    <br>Nel 1936, l'esperto editore Jean Dupuis affidò ai figli Paul e al diciannovenne Charles la direzione di una nuova rivista destinata al mercato giovanile.
                </p>
            </div>
            <div class="col-lg-3 col-*-12">
                <img src="../../assets/images/spirou1.jpg" class="img-fluid" width="75%">
            </div>
            <div class="col-lg-4 col-*-12">
                <p>
                    Apparsa per la prima volta il 21 aprile 1938, era una rivista di grande formato, disponibile solo in francese. Era una rivista settimanale di fumetti di otto pagine composta da un misto di racconti e gag, fumetti seriali e articoli brevi. Ha introdotto due nuovi fumetti, l'omonimo Spirou disegnato dal giovane francese Rob-Vel, e Le avventure di Tif.
                </p>
            </div>
        </div>
    </div>
</div>
