<div class="bgHeader">
    <h1 class="title">SCOPRI IL TUO ANGOLO DI PARADISO CON NOI</h1>
</div>
<div class="container-fluid text-center pt-3">
    <h3 class="title2">CONSULTA I TUOI VIAGGI:</h3>
    <div class="row">               <!-- VIAGGIO 1 -->
        <div class="col-*-12">
            <mat-card>
                <mat-card-header>
                    <h4>CULO - PALLE</h4>
                </mat-card-header>
                <mat-card-header>
                    <div class="row">
                        <div class="col-lg-4 col-*-12">
                            <img src="../../assets/image/clock.png" class="img-fluid" width="2%">
                        </div>
                        <div class="col-lg-3 col-*-12">
                            <p>10h 30</p>
                        </div>
                    </div>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <div class="row">               <!-- VIAGGIO 2 -->
        <div class="col-*-12">
            
        </div>
    </div>
    <div class="row">               <!-- VIAGGIO 3 -->
        <div class="col-*-12">
            
        </div>
    </div>
    <div class="row">               <!-- VIAGGIO 4 -->
        <div class="col-*-12">
            
        </div>
    </div>
    <div class="row">               <!-- VIAGGIO 5 -->
        <div class="col-*-12">
            
        </div>
    </div>
</div>