<div class="section">
    <img src="../../assets/images/wallapaperLucky.jpg" class="img-fluid" alt="Responsive image" width="100%">
    <div class="container">
        <div class="row pt-3">
            <div class="col-*-9 colLogo">
                <img src="../../assets/images/luckyLogo.png" class="img-fluid logo" alt="Responsive image" width="47%">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <p class="text-center">Lucky Luke è un personaggio dei fumetti creato nel 1946 da Morris, protagonista di una serie a fumetti umoristica di genere western ritenuta un classico del fumetto francofono, in questo caso belga.</p>
        </div>
        <br>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <br>
        <app-element-lucky1></app-element-lucky1>
        <br>
        <br>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <br>
        <app-element-lucky2></app-element-lucky2>
    </div>
</div>