<div class="table-responsive">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Meme Number:</th>
                <th>Meme Name:</th>
                <th>Meme Image:</th>
                <th>Meme Description:</th>
                <th>Like number:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>{{meme[0].memename}}</td>
                <td><img class="img1" src="https://ih1.redbubble.net/image.5155452763.9171/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u1.jpg"></td>
                <td>{{meme[0].memed}}</td>
                <td><app-esercizio3-component2></app-esercizio3-component2></td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{meme[1].memename}}</td>
                <td><img class="img2" src="https://i.kym-cdn.com/entries/icons/facebook/000/027/475/Screen_Shot_2018-10-25_at_11.02.15_AM.jpg"></td>
                <td>{{meme[1].memed}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>