<mat-card class="text-white bgCard">
    <mat-card-header>
        <mat-card-title class="ctitle">LE ORIGINI</mat-card-title>
    </mat-card-header>
    <mat-card-header></mat-card-header>
    <mat-card-header></mat-card-header>
    <mat-card-header class="cp"><p>Nei primi decenni del XX secolo, i fumetti non erano pubblicazioni autonome, ma erano inseriti, come episodi o sketch, all'interno di giornali e nelle riviste settimanali o mensili, come <span class="span1">Zonneland</span> negli anni 20.</p></mat-card-header>
    <br>
    <mat-card-header class="cp"><p>Uno dei primi veri e propri fumetti belgi fu Le Avventure di Tintin di Hergé, con l'episodio Tintin nel paese dei Soviet, pubblicato dalla rivista “Le Petit Vingtième” nel 1929.</p></mat-card-header>
    <br>
    <mat-card-header class="cp"><p>Negli anni successivi arrivarono nei territori della Francia e del Belgio i comics americani che spopolarono, però questi precursori dei fumetti dovettero interrompersi e perciò iniziò la creazione di fumetti del tutto nuovi.</p></mat-card-header>
</mat-card>
