<div class="row">
    <h1 class="text-center">LE ORIGINI</h1>
    <div class="row riga1 pt-3">
        <div class="col-lg-6 col-*-12 pt-4">
            <p>Il personaggio venne creato nel 1946 da Morris per il settimanale belga Spirou esordendo l'anno stesso in una storia intitolata "Arizona 1880" pubblicata su L'Almanach Spirou 1947 e, dal 1947, verrà pubblicato sulla rivista per oltre vent'anni. Il successo del personaggio fece sì che il personaggio ebbe presto una testata dedicata e che le prime storie venissero ristampate presto in volume oltre a essere riproposte su diverse riviste.</p>
            <br><p>I primi episodi vennero realizzati interamente da Morris che venne poi affiancato dal 1955 ai testi da René Goscinny che aveva conosciuto durante il suo viaggio negli Stati Uniti d'America dove si era recato nel 1948 per meglio conoscere la realtà storica del far west e dove resterà per sei anni. Le storie mescolano umorismo e suspense, specie dal 1955 al 1977 quando i testi sono firmati da René Goscinny, sfruttando i luoghi comuni del genere western reinterpretandone la storia e i protagonisti.</p>
        </div>
        <div class="col-lg-6 col-*-12 pt-3 text-center">
            <img src="../../assets/images/lucky1.jpg" class="img-fluid img1" alt="Responsive image" width="60%">
        </div>
    </div>
</div>
