<img src="../assets/images/wallpaperHome1.jpg" class="img-fluid" alt="Responsive image" width="100%">
<div class="container">
    <div class="row pt-5">
        <div class="cln1 col-lg-6 col-*-12 text-center">
            <card-angular></card-angular>
        </div>
        <div class="cln2 col-lg-1 col-*-12"><br></div>
        <div class="cln2 col-lg-5 col-*-12 text-center">
            <h5>Zonnealand - 1948</h5>
            <app-divider-angularm></app-divider-angularm>
            <br>
            <br>
            <img src="../assets/images/Zonneland.png" class="imgz img-fluid" width="75%">
        </div>
    </div>
    <br>
    <br>
    <app-divider-angularm></app-divider-angularm>
    <br>
    <br>
    <card-angular1></card-angular1>
</div>
<br>
<br>
