<div class="row">
    <h1 class="text-center">TRASPOSIZIONI IN ALTRI MEDIA</h1>
    <div class="row pt-3 riga1">
        <p>Ispirate al personaggio esistono diverse serie animate, una serie TV di tredici episodi e due lungometraggi diretti e interpretati da Terence Hill, un lungometraggio a disegni animati belga del 1971 e una serie amimata dedicata ai fratelli Dalton.</p>
    </div>
    <div class="row">
        <img src="../../assets/images/pngegg.png" class="img-fluid imgL">
    </div>
</div>