<mat-card class="card">
    <mat-card-content><h4>QUESTO È ROCKET LEAGUE</h4></mat-card-content>
    <mat-card-header></mat-card-header>
    <div class="line"><app-divider2-angularm></app-divider2-angularm></div>
    <mat-card-header></mat-card-header>
    <mat-card-content><p>Rocket League è un gioco multiplayer sportivo. Lo scopo del gioco è di mandare il maggior numero di palle nella porta avversaria. La squadra che in 5 minuti avrà segnato più gol vincerà la partita.</p></mat-card-content>
  </mat-card>
