<div class="section">
    <img src="../../assets/images/wallapaperTinTin.jpg" class="img-fluid" alt="Responsive image" width="100%">
    <div class="container pt-3">
        <div class="row">
            <div class="col-*-9 colLogo">  
            <img src="../../assets/images/tintinlogo.jpg.png" class="img-fluid logo" alt="Responsive image">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <p class="text-center">Tintin è un personaggio immaginario protagonista della serie a fumetti belga Le avventure di Tintin ideata e disegnata da <span class="sp1">Hergé</span> comunemente ritenuto precursore e modello di riferimento dello stile della linea chiara della scuola franco-belga.</p>
        </div>
        <br>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <br>
        <app-element-tintin1></app-element-tintin1>
        <br>
        <br>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <br>
        <app-tabs-angularm></app-tabs-angularm>
        <br>
        <br>
    </div>
</div>
