<div class="container-fluid">
  <app-divider-angularm></app-divider-angularm>
  <div class="row pt-2">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 divp">
      <app-card1-angularm></app-card1-angularm>
    </div>
    <div class="col-lg-6">
      <div class="divimg2">
        <img src="../assets/img/klipartz.com.png" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="divtitle1">
      <h1 class="title1">LEADERBOARD</h1>
    </div>
    <div class="leaderboard">
      <app-leaderboard></app-leaderboard>
    </div>
  </div>
  <h2 class="text-white text-center pt-1">LEGENDA:</h2>
  <div class="row pt-3 rigaf text-center">
    <div class="col-md-4 col-*-12">
      <h4 class="text-danger">ATTACCANTE</h4>
    </div>
    <div class="col-md-4 col-*-12">
      <h4 class="text-info">DIFENSORE</h4>
    </div>
    <div class="col-md-4 col-*-12">
      <h4 class="text-success">PORTIERE</h4>
    </div>
  </div>
</div>
<router-outlet />
