<div class="container-fluid">
  <app-divider-angularm></app-divider-angularm>
  <div class="row pt-2">
    <div class="col-lg-1"></div>
    <div class="col-lg-5 divp">
      <app-card1-angularm></app-card1-angularm>
    </div>
    <div class="col-lg-6">
      <div class="divimg2">
        <img src="../assets/img/klipartz.com.png" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="divtitle1">
      <h1 class="title1">LEADERBOARD</h1>
    </div>
    <div class="leaderboard">
      <app-leaderboard></app-leaderboard>
    </div>
  </div>
</div>
<router-outlet />
