<div class="row">
    <h1 class="text-center title1">LA STORIA EDITORIALE</h1>
    <div class="row riga1">
        <div class="col-lg-6 col-*-12 pt-4">
            <p>Il personaggio esordì in francese il 10 gennaio 1929 sul settimanale belga Le Petit Vingtième, dove viene pubblicato fino al 1942 quando la serie continua la pubblicazione su Le Soir Jeunesse, fino al 1946 quando debutta su una testata propria, Le Journal de Tintin.</p>
            <br><p>La serie completa di Tintin è costituita da 24 storie in lingua francese delle quali l'ultima è rimasta incompiuta. Le prime otto vennero pubblicate tra il 1929 e il 1941 in bianco e nero con tavole a sei vignette e negli anni quaranta e cinquanta vennero tutte ridisegnate - tranne la prima - per renderle omogenee con le successive che venivano pubblicate in albi a colori di 48 pagine con tavole a dodici vignette; l'ultima storia risale al 1983, anno di morte dell'autore.</p>
        </div>
        <div class="col-lg-6 col-*-12 pt-3 text-center">
            <img src="../../assets/images/tintin1.png" class="img-fluid img1" alt="Responsive image">
        </div>
    </div>
</div>