<mat-card  class="bg-white">
    <mat-card-header></mat-card-header>
    <mat-card-header>
        <h1 class="ctitle">PERCHè "FRANCO-BELGA"?</h1>
    </mat-card-header>
    <app-divider-angularm></app-divider-angularm>
    <mat-card-header><p>Tutte la distinzione tra il fumetto francese e il fumetto belga all'interno della categoria condivisa del Bande dessinée è una questione di identità culturale e linguistica.</p></mat-card-header>
    <mat-card-header><p>Il 40% della popolazione belga parla francese il che rende il Belgio e la Francia un mercato condiviso per le case editrici di fumetti, questa condivisione linguistica spesso porta l'uso del termine più ampio "fumetto franco-belga" per coprire entrambe le regioni.</p></mat-card-header>
    <mat-card-header><p>Tuttavia è importante notare che esistono differenze culturali e stilistiche tra il fumetto prodotto in Belgio e quello prodotto in Francia e spesso critici e appassionati di questo Medium cercano di distinguere tra queste due tradizioni la differenza nei termini utilizzati per descrivere il fumetto come <abbr title="Francia">Bande dessinée</abbr> e <abbr title="Belgio">Stripverhalen</abbr>.</p></mat-card-header>
</mat-card>