<div class="footer pt-5">
    <div class="container">
        <div class="row">
            <h5>SOCIAL NETWORKS</h5>
        </div>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <div class="social-icons">
            <a class="btn btn-dark" style="background-color: #24292e;" href="https://github.com/SantianaAlexander" target="_blank" role="button">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-danger" style="background-color: #d62d20;" href="mailto:santiana.a@iisgalvanimi.edu.it" role="button">
                <i class="fab fa-google"></i>
            </a>
            <a class="btn btn-primary" style="background-color: #00acee;" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <br>
        <app-divider-angularm></app-divider-angularm>
        <br>
        <h6>© SantiSanti - 2024 - All rights reserved</h6>
    </div> 
</div>